body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-enter {
  opacity: 0;
  transform: translate(-2em, 0);
    transition-duration: 200ms;
  transition-property: height, opacity, transform;
}

.page-exit-active {
  opacity: 0;
  transform: translate(2em, 0);
    transition-duration: 200ms;
  transition-property: height, opacity, transform;
    position: absolute;
}

.page-enter-active{
  opacity: 0.8;
  transform: translate(0, 0);
}
