body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#fafafa
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.container{
  padding:10px;
  width: calc(100% - 20px);
  position:absolute;
}

.container > .max-width{
  display: 'block';
  max-width: 800px;
  margin:0 auto;
}

.page-enter {
  opacity: 0;
  transform: translate(-2em, 0);

}

.page-exit-active {
  opacity: 0;
  transform: translate(2em, 0);
    transition-duration: 300ms;
  transition-property: height, opacity, transform;
    position: absolute;
}

.page-enter-active{
  opacity: 1;
  transform: translate(0, 0);
      transition-duration: 300ms;
  transition-property: height, opacity, transform;
}